@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* padding: 0px 100px; */
  display: flex;
  overflow-x: hidden;
}

* {
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(119, 56, 161, 0.404);
  border-radius: 4px;
}

/* Scrollbar color */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #6e3594 20%, #a1959d 50%, #6e3594 91%);
  border-radius: 4px;
  cursor: pointer;
}

*::-webkit-scrollbar-track {
  background-color: rgba(119, 56, 161, 0.589);
  border-radius: 4px;
}

.coverCard {
  height: 460px;
  width: 450px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 36px;
  margin: 0 50px;
}
.coverEffect {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.coverWrapper {
  transition: all 1s;
  position: absolute;
  border-radius: 100%;
  overflow: hidden;
  opacity: 1;
  width: 356px;
  height: 356px;
  z-index: -1;
}
.coverCard:hover .coverWrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  opacity: 0.7;
}
.coverWrapper::before,
.coverWrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 1s;
  position: absolute;
}
coverWrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(to top, transparent 46%),
    rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%;
}
coverWrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(to bottom, transparent 46%),
    rgba(12, 13, 19, 0.5) 68%, rgba(12, 13, 19) 97%;
}
.coverCard:hover .coverWrapper::before,
.coverWrapper::after {
  opacity: 1;
}
.coverCard:hover .coverWrapper::after {
  height: 120px;
}
.character {
  width: 300px;
  height: 600px;
  opacity: 0;
  transition: all 1s;
  position: absolute;
  bottom: -120px;
  z-index: -1;
}
.coverCard:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
}
/*udnerline animation*/
.underlineEffect {
  position: relative;
  overflow: hidden;
}

.underlineEffect::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.underlineEffect:hover::after {
  transform: scaleX(1);
}

.underline-rtl {
  position: relative;
  overflow: hidden;
}

.underline-rtl::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background: white;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s ease-in-out;
}

.underline-rtl:hover::after {
  transform: scaleX(1);
}
.textPurple {
  background: #6e3594;
  background: -webkit-repeating-linear-gradient(
    to bottom right,
    #6e3594 0%,
    #a1959d 91%
  );
  background: -moz-repeating-linear-gradient(
    to bottom right,
    #6e3594 0%,
    #a1959d 91%
  );
  background: repeating-linear-gradient(
    to bottom right,
    #6e3594 0%,
    #a1959d 91%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.scrollBar {
  overflow-y: scroll;
  scrollbar-color: rgba(0, 0, 0, 0.3);
}

/* Scrollbar color */
.scrollBar::-webkit-scrollbar {
  width: 8px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.textShadow {
  text-shadow: 1px 1px 2px rgb(66, 4, 66), 0 0 1em rgb(162, 0, 255),
    0 0 0.2em blue;
}

.scrollBar::-webkit-scrollbar-track {
  background-color: transparent;
}
@media only screen and (max-width: 540px) {
  .mobileWidth {
    width: 130vw;
  }
  .techWidth {
    width: 30px;
    height: 30px;
  }
  .coverCard {
    height: 370px;
  }
  .coverWrapper {
    width: 270px;
    height: 270px;
  }
}
/*video youtube*/
.video-animation {
  animation: clip-path 1s forwards;
  backdrop-filter: blur(20px);
}

@keyframes clip-path {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  to {
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 0);
  }
}

h2 {
  color: #ffffff;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 20px;
}
