@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 0px 100px;
  /* cursor: url('/next.svg'), auto; */
}
.custom-cursor {
  cursor: none;
  position: absolute;
  z-index: 9999;
  pointer-events: none;
  transition: all 0.2s ease;
}

.scrollBar {
  overflow-y: scroll;
  scrollbar-color: rgba(0, 0, 0, 0.3);
}

/* Scrollbar color */
.scrollBar::-webkit-scrollbar {
  width: 8px;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.scrollBar::-webkit-scrollbar-track {
  background-color: transparent;
}