.addProduct {
  &.open {
    backdrop-filter: blur(15px);
    padding: 18px 32px;
    border-radius: 5px;
    width: 420px;
    height: 398px;
    cursor: default;
    form {
      opacity: 1;
      transition: opacity 0.1s ease;
      transition-delay: 0.3s;
      height: auto;
    }
  }
  transition: all 0.3s ease;
  backdrop-filter: blur(15px);
  height: 144px;
  width: 144px;
  border-radius: 72px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
  cursor: pointer;
  .buttonCopy {
    text-align: center;
    line-height: 144px;
    text-transform: uppercase;
    font-weight: bold;
    color: #f7f7f7;
  }
  form {
    transition: none;
    opacity: 0;
    height: 0;
    overflow: hidden;
  }
  .cancel {
    font-size: 12px;
    text-align: center;
    margin-top: 1em;
    span {
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.submitButton {
  display: block;
  background-color: #3498db;
  height: 40px;
  border-radius: 20px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.875em;
  border: none;
  font-weight: 700;
  padding: 0 34px;
  margin: 0 auto;
  img {
    position: relative;
    top: 3px;
    right: 6px;
  }
  &:hover {
    background-color: darken(#3498db, 10%);
    cursor: pointer;
  }
}

.featuredNote {
  color: #949494;
  font-size: 12px;
  margin: 4px 0px;
  line-height: 18px;
  font-style: italic;
}

form * {
  outline: none;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  user-select: none;
  &.emoji {
    input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 21px;
      margin: 0;
      display: none;
      & + span:after {
        content: "😶";
        font-size: 18px;
        top: 2px;
        left: 2px;
        position: relative;
        height: 18px;
        display: inline-block;
      }
      &:checked + span:after {
        content: "😀";
      }
    }
  }
}

.formField {
  width: 420px;
  margin: 10px 0;
  &.short {
    width: 120px;
  }
}

.formPrice {
  position: absolute;
  line-height: 38px;
  width: 16px;
  color: #c7c7c7;
  text-align: center;
  & + input {
    padding-left: 14px;
  }
}

.formElement {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 3px;
  font-size: 14px;
  line-height: 28px;
  padding: 0 4px;
  color: #3d3d3d;
  width: 100%;
  margin: 4px 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  &:focus {
    border: 1px solid #ffc145;
    border-radius: 2px;
  }
  &:not(.textarea) {
    height: 30px;
  }
  &.textarea {
    height: 80px;
    resize: none;
  }
}

a {
  text-decoration: none;
  cursor: pointer;
}

::selection {
  background-color: #f5617a;
  color: #fff;
}

::-moz-selection {
  background-color: #f5617a;
  color: #fff;
}
